@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Quicksand:wght@500;700&display=swap');

*,*::before,*::after{
    box-sizing: border-box;
    /* border: 1px solid red; */
}
body {
    height: 100vh;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}
/* Start Navbar */
.navbar-container{
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-block: 1rem;
    z-index: 999;
    
}
.navbar-container .logo img{
    width: 150px;
}
.navbar-container .nav-list ul{
    padding-left: 0;
    display: flex;
    justify-content: center;
    gap: 2rem 1rem;
}
.navbar-container .nav-list ul li{
    list-style-type: none;
}
.navbar-container .nav-list ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.05rem;
    font-weight: 500;
    padding: .5rem 1rem;
    border-radius: 999px;
    transition: all .2s ease-in-out;
}
.navbar-container .nav-list ul li a:hover{
    background-color:rgb(77, 91, 102);
    color: #ffffff;
}
/* End Navbar */

/* Start Content */
main{
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
    padding: 2rem 4rem;
    flex: 1;
    display: flex;
    align-items: center;
}
main .content{
    flex: 1;
    display: flex;
    align-items: center;
}
main .content .content-description{
    flex: 1 1;
}
main .content .content-description .title{
    font-size: 3.5rem;
    margin-block: 1rem;
}
main .content .content-description p{
    font-size: 1.2rem;
    line-height: 1.7rem;
}
main .content .content-description button{
    padding: .8rem 2.5rem;
    margin-block-start: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    color: #ffffff;
    border: 3px solid transparent;
    border-radius: 999px;
    background-color: rgb(77, 91, 102);
    cursor: pointer;
    transition: all .15s ease-in;
}
main .content .content-description button:hover{
    border: 3px solid rgb(77, 91, 102);
    color: rgb(77, 91, 102);
    background-color: transparent;
}
main .content .content-image{
    flex: 1;
    display: flex;
}
main .content .content-image img{
    margin: auto;
    min-width: 250px;
    width: 300px;
}
main aside{
    position: fixed;
    inset-block: 0;
    inset-inline-end: 0;
}
main aside .social-media{
    height: 100%;
    display: flex;
}
main aside .social-media ul{
    padding: 1.5rem 1rem;
    margin: auto;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: rgb(77, 91, 102);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
main aside .social-media ul li {
    list-style-type: none;
}
main aside .social-media ul li a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #ffffff;
    transition: all .1s ease-in-out;
}
main aside .social-media ul li a:hover{
    color: #89b0d9;
}
/* End Content */

/* Responsive-Medium Devices */
@media screen and (max-width:768px) {
    .navbar-container{
        flex-direction: column;
    }
    .navbar-container .nav-list ul{
        flex-wrap: wrap;
        column-gap: .5rem;
    }
    main{
        padding: 1rem 3rem;
    }
    main .content{
        flex-direction: column;
        gap: 2rem;
    }
    main .content .content-description .title{
        font-size: 3rem;
    }
    main .content .content-description p{
        font-size: 1rem;
    }
    main .content .content-image{
        order: -1;
    }
}